<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu">
@*    <div class="offcanvas__logo">
        <a href="./index.html"><img src="~/img/logo.png" alt=""></a>
    </div>
*@    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__widget">
        <ul>
            <li>CALL US: + 1 800-567-8990</li>
            <li>WRITE US: OFFICE@EXAMPLE.COM</li>
            <li>OPENING TIMES: MON - FRI: 9:00 - 19:00</li>
        </ul>
        <a href="#" class="primary-btn">JOIN US</a>
    </div>
    <nav class="header__menu">
        <ul class="mobile-menu">
            <li class="active"><a href="./index.html">Home</a></li>
            <li><a href="./about-us.html">About</a></li>
            <li><a href="./classes.html">Classes</a></li>
            <li>
                <a href="#">Pages</a>
                <ul class="dropdown">
                    <li><a href="./classes-details.html">Classes Details</a></li>
                    <li><a href="./blog-details.html">Blog Details</a></li>
                    <li><a href="./pricing.html">Pricing</a></li>
                    <li><a href="./faq.html">Faq</a></li>
                </ul>
            </li>
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>
    <div class="offcanvas__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
    </div>
</div>
