<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Syndash - Bootstrap4 Admin Template</title>
<!--favicon-->
<link rel="icon" href="~/Management/images/favicon-32x32.png" type="image/png" />
<!-- Vector CSS -->
<link href="~/Management/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
<!--plugins-->
<link href="~/Management/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
<link href="~/Management/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
<link href="~/Management/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
<!-- loader-->
<link href="~/Management/css/pace.min.css" rel="stylesheet" />
<script src="~/Management/js/pace.min.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="~/Management/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto&display=swap" />
<!-- Icons CSS -->
<link rel="stylesheet" href="~/Management/css/icons.css" />
<!-- App CSS -->
<link rel="stylesheet" href="~/Management/css/app.css" />
<link rel="stylesheet" href="~/Management/css/dark-sidebar.css" />
<link rel="stylesheet" href="~/Management/css/dark-theme.css" />

@*text editör*@
<script src="~/Management/ckeditor/ckeditor.js"></script>